#Itroduction{
    width: 100%;
    min-height: 100%;
    background-color: #fff;
}
.mblImgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgmbl{
    width: 300px;
    height: 400px;
    object-fit: cover;
}

#heading{
    font-size: 28px;
}

#text h2{
    font-size: 28px;
}
#text p{
    font-size: 18px;
}
#Itroduction #text button{
    background-color: #ffc107;
    height: 40px;
    padding: 2px 15px;
}
#icon{
    font-size: 55px;
}
#txt{
font-size: 15px;
margin-top: 10px;
text-align: center;
}
#clientImg{
    width: 200px;
    height: 70px;
}
#iconSection{
    height: 330px;
}
.mblImgContainer .col-4:nth-child(1){
   display: flex;
   justify-content: center;
   align-items: center; 
}
.mblImgContainer .col-4:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
 }
@media screen and (max-width : 600px){
.mblImgContainer{
        flex-direction: column;
}  
.mblImgContainer .col-4:nth-child(1){
align-items: center;
}
.mblImgContainer .col-4:nth-child(2){
    align-items: center; 
 }
#imgmbl{
    width: 170px;
    height: 270px;
    margin-right: 0px;

}
#text{
    text-align: center;
    width: 80%;
}
#text p{
    font-size: 15px;
}
#text h2{
    font-size: 20px;
}
#Itroduction #text button{
    height: 35px;
    padding: 0px 15px;
    font-size: 15px;
}
#icon{
    font-size: 30px;
}
#txt{
    font-size: 10px;
    }
    #iconSection{
        height: 300px;
    }
    #heading{
        font-size: 25px;
    }
    
}