#landing{
    width: 100%;
    height: 90vh;
}
#landing .container{
    height: 100%;
}
#landing .container .row{
    height: 100%;
    display: flex;
    flex-direction: row;
}
#landing .container .row .col{
    position: relative;
    height: 100%;
}
#landing .container .row .col h3{
    font-size: 3rem;
    color: #fff;
}
#landing .container .row .col p{
    font-size: 1rem;
    letter-spacing: .5;
    font-weight: 300;
    color: #fff;
    margin: 30px 0;
}
.buttons{
    width: 50%;
    height: 45px;
    display: flex;
    justify-content: space-between;
}
.buttons button:nth-child(1){
    background-color: #ffc107;
    padding: 0 15px;
}
.buttons button:nth-child(2){
    border-color: #ffc107;
    width: 100px;
}
#svgparent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.svgdiv{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 2;
}
.svgdiv:nth-child(2){
bottom: 0;
}
.svgimg{
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 1;
}

#svgimg1{
    left: 5%;
    top: 32%;
}
#svgimg2{
    right: 50%;
    top: 3%;
}
#svgimg3{
    right: 40%;
    bottom: 4%;
}
.svgimg img{
    width: 80px;
    height: 80px;
}

#landing .svgdiv .img{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.svgdiv .img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.svgdiv button{
    height: 40px;
}
.landingCntn{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
@media screen and (max-width : 550px){
    #landing{
        width: 100%;
        height: 75vh;
    }
    #landing .container .row{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
#landing .container .row .col h3{
    font-size: 2rem;
}
#landing .container .row .col p{
    font-size: .8rem;
    margin: 20px 0;
}
.buttons{
    width: 100px;
    height: 30px;
    font-size: 15px;
}
.buttons button:nth-child(1){
    padding: 7px 12px;
    margin-bottom: 10px;
}
.buttons button:nth-child(2){
    font-size: 15px;
}

.svgimg{
    width: 40px;
    height: 40px;
}
.svgimg img{
    width: 40px;
    height: 40px;
}
#svgimg1{
    left: 18%;
    top: 34%;
}
#svgimg2{
    right: 48%;
    top: 5%;
    
}
#svgimg3{
    right: 40%;
    bottom: 6%;
}
#landing .svgdiv .img{
    width: 100px;
    height: 100px;
}
#svgparent{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.svgdiv:nth-child(1){
top: 0;
}
.svgdiv{
    width: 65%;
}
.svgdiv button{
    height: 35px;
    padding: 3px 15px;
    font-size: 10px;
}
.landingCntn{
    align-items: center;
    text-align: center;
}
.landingCntn .buttons{
    width: 50%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
}