#client{
    width: 100%;
    min-height: 100%;
    background-color: rgb(255, 251, 228);
}
#content{
    height:550px;
}

#clientContent button{
    background-color: #ffc107;
    height: 40px;
    width: 120px;
    padding: 0px 15px;
}
#clientContent h2{
    font-size: 35px;
}
#clientContent h3{
    font-size: 25px;
    margin: 20px 0;
}
#clientContent p{
    font-size: 15px;
    font-weight: 500;
    color: #464646;
}
.illustration{
    width: 400px;
    height: 400px;
}
.illustration img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

@media screen and (max-width : 550px){
    #client{
        width: 100%;
        min-height: 75%;
        background-color: rgb(255, 251, 228);
    }
    #content{
        height:400px;
    }
    .illustration{
        width: 170px;
        height: 170px;
    }
    .illustration img{
        width: 170px;
        height: 170px;
    } 
    
#clientContent h2{
    font-size: 20px;
}
#clientContent h3{
    font-size: 20px;
    margin: 5px 0;
}
#clientContent p{
    font-size: 12px;
    font-weight: 500;
    color: #464646;
}
#clientImg{
    width: 80px;
    height: 35px;
}
}